
:root {
  --bg-color: #2c3e50;
  --calcalulator-bg-color: #ebebeb;
  --btn-color: #efedee;
  --text-color: rgb(78, 78, 78);
  --inside-color: rgb(78, 78, 78);
  --hover-color: #4e12f5;
  --hover-text-color: #fff;
  --text-orange: #4e12f5;
  --equal-btn: #4e12f5;
}  

@media (prefers-color-scheme: light) {
  .bg-vue-dark{
    box-shadow: 0px 0px 10px transparent;
  }

}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #ffb47c;
    --calcalulator-bg-color: #234;
    --btn-color: #223949;
    --text-color:#fff;
    --inside-color: #fff;
    --hover-color: #f88238;
    --hover-text-color: #fff;
    --text-orange: #f88238;
    --equal-btn: #f88238;
  }
}
@media screen and (max-width:991px){
  .content{margin-top: 3rem;}
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: #fff;
  background: var(--bg-color);
  transition:  color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content{
  background: var(--calcalulator-bg-color);
}
.fonts{font-weight: bold;}
.cusmar{padding-bottom: 100px;}
.themecolor{background-color: var(--equal-btn);}